* {
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
    list-style: none;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#background {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: -1;
    filter: brightness(70%);
}

.stretch {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*FOOTER*/

.footer {
    background-color: rgba(250, 246, 246, 0.158);
    text-align: center;
    width: 100%;
    margin-top: auto;
}

.footer img {
    padding-top: 10px;
    height: 30px;
}

.footer h4 {
    height: 30px;
}

/*MENU=GARAGE*/

#background-garage {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: -1;
    filter: brightness(50%);
}

.nav-menu .li-garage {
    color: #aee710;
}

.garage-vehicles {
    width: 600px;
    background-color: #aee71079;
    padding: 5px;
    margin: 40px;
    border-radius: 20px;
}

.garage-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.garage-vehicles img {
    width: 100%;
    border-radius: 20px;
    padding-bottom: 10px;
}

.garage-vehicles h2 {
    font-size: 25px;
    color: #ffffffaf;
    background-color: rgba(0, 0, 0, 0.507);
    padding: 5px;
    border-radius: 5px;
    padding: 15px;
}

.garage-vehicles p {
    letter-spacing: 1px;
    color: black;
    margin: 30px 4px;
    font-size: 16x;
    font-weight: bolder;
}

/*MENU=HISTORIA*/

.nav-menu .li-historia {
    color: #aee710;
}

.historia-container {
    margin: 50px;
    display: flex;
    justify-content: center;

}

.historia-container .historia {
    width: 80%;
    height: 100%;
    align-items: center;
    flex-wrap: nowrap;
    display: flex;
    justify-content: center;
}

.historia-container img {
    height: 600px;
    background-color: #aee71031;
    border-radius: 10px;
    margin: 0px 50px;
}

.historia img{
    transform: translateZ(0);
}

.historia p {
    border-radius: 10px;
    padding: 20px;
    font-size: 15px;
    height: 550px;
    background-color: #aee71031;
    color: rgb(255, 255, 255);
    height: 100%;
}

/*MENU=NOTICIAS RACING*/

.nav-menu .li-noticias-racing {
    color: #aee710;
}

#banner {
    width: 100%;
    height: 600px;
}

.fondo-noticias {
    background-color: #aee71018;
}

.text-banner {
    background-color: #ace01ea1;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 25px;
}

/*ULTIMAS NOTICIAS*/

.cuadro-noticias {
    margin: 25px 20px;
    width: 560px;
    border: 8px solid rgb(255, 255, 255);
    background-color: white;
}

.cuadro-noticias img {
    width: 150px;
    height: 400px;
}

.ultimas-noticias {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.cuadro-noticias h2:hover {
    color: tomato;
}

.cuadro-noticias p {
    font-size: 14px;
}

.cuadro-noticias img {
    width: 100%;
}

/*RALLY NOTICIAS*/

.seccion-noticias {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.container-news {
    margin: 25px 5px;
    width: 300px;
    border-radius: 10px;
}

.container-news img {
    width: 97%;
    border: 5px solid white;
    border-radius: 10px;
}

.container-news p {
    background-color: white;
    padding: 10px;
    font-size: 13px;
}

.container-news h4 {
    padding: 8px;
    color: white;
    background-color: #aee7103a;
    font-size: 20px;
}

/*NAV TIENDA*/

.icons-tienda img {
    width: 30px;
    padding: 10px;
    color: #aee710;
    background-color: #aee710;
    border-radius: 50px;
    margin-right: 10px;
}

.icons-tienda input {
    height: 50px;
    width: 250px;
    border-radius: 50px;
    padding-inline-end: 20px;
    text-align: end;
}

.icons-tienda {
    display: flex;
    padding-left: 350px;
}

.icons-tienda ul {
    display: flex;
    margin: 0 15px;
}

/*MAIN TIENDA*/

#background-tienda {
    width: 100%;
    height: auto;
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: -1;
    filter: brightness(10%);
}

.banner-text-tienda {
    margin: 240px;
    font-size: 40px;
    text-align: center;
    color: white;
}

/*BARRA DE BUSQUEDA-TIENDA*/

.container-search-tienda {
    background-color: rgba(155, 185, 71, 0.075);
    padding: 25px;
    justify-content: center;
    display: flex;
    align-items: center;
}

.container-search-tienda span {
    display: flex;
    align-items: center;
    margin-right: 25px;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    color: #aee710;
}

.container-search-tienda form select {
    min-width: 150px;
    border-radius: 10px;
    height: 40px;
    transform: skew(-10deg);
    font-size: 15px;
    text-transform: uppercase;
    text-align: center;
    margin-inline: 8px;
}

.container-search-tienda input {
    min-width: 150px;
    border-radius: 10px;
    height: 40px;
    transform: skew(-10deg);
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    border: none;
    font-size: 800;
    margin-left: 8px;
    background-color: #aee710;
}

/*CATALOGO TIENDA*/

.catalogo-tienda {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cajas-productos {
    border-radius: 15px;
    margin: 60px 20px 20px 0px;
    width: 320px;
    height: 350px;
    text-align: center;
    line-height: 60px;
    background-color: rgb(0, 0, 0);
}

.cajas-productos {
    width: 15%;
    height: 20%;
}

.cajas-productos img {
    width: 100%;
    height: 100%;
    border-radius: 15px 15px 0 0;
}

.header-tienda {
    background: #839fb600;
}

.catalogo-tienda a {
    color: white;
    font-size: 14px;
}

.cajas-productos:hover {
    background-color: #aee7101e;
}

.catalogo-general {
    background-color: #aee7100c;
}

/*LOGIN TIENDA*/

.login-container {
    width: 600px;
    height: 500px;
    background-color: rgba(255, 255, 255, 0.122);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
}

.login-container h2 {
    margin: 0;
    padding: 0 0 30px;
    text-align: center;
    color: white;
    font-size: 40px;
}

.login-container label {
    font-size: 20px;
    color: white;
}

.login-container input {
    width: 100%;
    margin-bottom: 20px;
    font-size: 12px;
}

.login-container input[type="text"],
.login-container input[type="password"] {
    border: none;
    border-bottom: 3px solid rgba(255, 255, 255, 0.432);
    background: transparent;
    outline: none;
    height: 40px;
}

.login-container input[type="submit"] {
    margin-top: 25px;
    padding: 10px;
    border-radius: 50px;
    border: none;
}

.login-container a {
    text-align: right;
    font-size: 12px;
    line-height: 20px;
    color: darkgray;
    text-align: right;
}

.text-contrase {
    text-align: right;
    padding-right: 10px;
}

.login-container h5 {
    text-align: right;
}

.login-container a:hover {
    color: white;
}

.login-container input[type="submit"]:hover {
    background-color: #aee7108e;
}

/*CARRITO DE TIENDA*/

.cart-products {
    margin: 10vh 35vh;
    color: white;
}

.cart-products table {
    width: 100%;
}

.product-info {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

td img {
    border-radius: 8px;
    width: 20vh;
    margin-right: 10px;
    margin-top: 15px;
}

th {
    text-align: left;
    padding: 15px;
    color: #fff;
    background: #aee71044;
}

td {
    padding: 10px 5px;
}

.producto-text {
    padding: 20px;
}

td input {
    width: 30px;
    height: 28px;
    padding: 5px;
    text-align: center;
    border-radius: 10px;
}

td a {
    color: #ff523b;
    font-size: 12pxx;
}

/*SUBTOTAL*/

.subtotal-cart {
    display: flex;
    justify-content: flex-end;
}

.subtotal-cart table {
    border-top: 3px solid #aee71044;
    width: 100%;
    max-width: 380px;
}

td:last-child {
    text-align: right;
}

th:last-child {
    text-align: right;
}

/*"TAMBIEN TE PUEDE INTERESAR"*/

.recomendations-text {
    background-color: #aee71038;
    margin-top: 50px;
    text-align: center;
}

.cart-recomendaciones {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.cart-recomendaciones-product {
    margin: 30px 10px;
    padding: 10px;
    padding-top: 10px;
    background-color: white;
    border-radius: 10px;
    color: black;
    height: 50%;
    width: 20vh;
}

.cart-recomendaciones h2 {
    font-size: 12px;
    margin: 10px 5px;
    text-align: center;
}

.cart-recomendaciones-product img {
    width: 50%;
    height: 50%;
    display: block;
    margin: auto;
}

.cart-recomendaciones small {
    font-size: 15px;
    font-weight: 500;
    margin: 10px;
}

.cart-recomendaciones input {
    height: 4vh;
    width: 20vh;
    border-radius: 10px;
    border: none;
    background-color: red;
    color: white;
}

.product-info a:hover {
    color: lightgrey;
}

/*BOTON DE COMPRA*/

.input-comprar {
    display: block;
    height: 60px;
    border-radius: 10px;
    width: 100%;
    font-size: 25px;
    font-weight: 800;
    background-color: rgba(255, 0, 0, 0.945);
    border: none;
    color: white;
}

.cart-recomendaciones-product input:hover {
    background-color: rgba(94, 92, 92, 0.418);
}

.input-comprar:hover {
    background-color: #aee71028;
}

/*CONTACT-INFO*/

.contact {
    background-color: rgba(255, 255, 255, 0.253);
    padding: 20px;
    width: 500px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.telefono-contact {
    margin: 20px;
}

.contact h2 {
    font-size: 20px;
}

.contact p {
    font-size: 15px;
    font-weight: 500;
}

.contact img {
    width: 20px;
}

/*CONTACT-FORMULARIO*/

.form-contact {
    display: flex;
    justify-content: space-evenly;
    margin: 80px 0px 200px 0px;
    flex-wrap: wrap;
    color: white;
    font-weight: 300;
}

.form {
    background-color: rgba(100, 129, 86, 0.692);
    width: 500px;
    padding: 20px;
}

.form h1 {
    text-align: center;
}

.form label {
    font-size: 20px;
    font-weight: bolder;
}

.form input {
    width: 495px;
    height: 40px;
    border-radius: 10px;
    border: none;
    padding-inline-start: 8px;
}

.text-form h2 {
    margin: 10px 0px;
    font-size: 20px;
}

textarea {
    width: 100%;
    border-radius: 10px;
}

.form-contact h2{
    color: black;
    font-weight: 800;
}

.form-contact button {
    width: 100%;
    height: 50px;
    margin: 20px 0 0px 0;
    border-radius: 10px;
    border: none;
    font-size: 20px;
    font-weight: bolder;
}

.form-contact button:hover {
    background-color: #aee7103f;
}

/*BOOSTRAP CSS*/
.navbar-brand img {
    width: 100px;
}

.navbar-brand {
    margin-right: 0;
    padding: 0 1em;
}

.navbar-nav {
    align-items: center;
}

.navbar .navbar-nav .nav-link {
    color: #ffff;
    font-size: 1.1em;
    padding: 0.5em 1em;
}

@media screen and (min-width: 992px) {
    .navbar-brand img {
        width: 100px;
    }
}

.collapse {
    margin: 0 !important;
    padding: 0 !important;
}

.container-navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.a-nav {
    font-size: 100px;
}

.navbar-mov {
    background-color: rgba(0, 0, 0, 0.774);
}

.navbar-mov:focus {
    box-shadow: none;
}

#navbar-text {
    transform: skew(-5deg);
    font-weight: 600;
    letter-spacing: 2px;
    border-bottom: 2px solid black;
    margin: 10px;
}

#navbar-text:hover {
    border-bottom: 2px solid #aee710;
}

#navbar-text:hover {
    color: rgb(174, 231, 16);
}

.slide img {
    width: 100%;
    height: 800px;
    object-fit: cover;
}

.carousel-indicators .active {
    background-color: #aee710;
}

.carousel-control-prev-icon {
    padding: 20px;
}

.carousel-control-prev-icon:hover {
    padding: 30px;
}

.carousel-control-next-icon {
    padding: 20px;
}

.carousel-control-next-icon:hover {
    padding: 30px;
}

.container-fluid {
    margin: 10px 0px;
    padding: 10px;
    background-color: #0d1006b0;
}

.container-select {
    border: 2px solid #aee710;
}

.container {
    width: 10;
    display: flex;
    justify-content: center;
}

.container-row {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin: 50px;
}

.container-card {
    border: 1px solid white;
    margin: 10px;
    border-radius: 5px;
}

.btn {
    color: black;
    background-color: #aee710;
    font-weight: 600;
    border: 1px solid black;
}

#btn-footer {
    color: black;
    background-color: #aee710;
    font-weight: 600;
    border: 1px solid black;
    width: 25px;
    height: 30px;
}
.btn:hover {
    background-color: brown;
    color: #aee710;
    border: 1px solid black;
}

.card-body {
    transform: skew(-4deg);
    padding: 10px;
    background-color: rgba(255, 255, 255, 0);
}

.container-search-menu {
    background: rgb(0, 0, 0);
    background: rgb(0, 0, 0);
    background: linear-gradient(
        186deg,
        rgba(0, 0, 0, 0.8519782913165266) 10%,
        rgba(0, 0, 0, 1) 33%,
        rgba(0, 0, 0, 1) 49%,
        rgba(0, 0, 0, 0.8519782913165266) 59%,
        rgba(26, 34, 13, 1) 71%,
        rgba(74, 97, 36, 0.8911939775910365) 100%
    );
}

.text-center {
    display: flex;
    justify-content: center;
}

.text-center .btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.p-3 {
    padding: 4px !important;
}

.container-card:hover{
    background-color: white;
}

.nav-item-tienda{
    border-radius: 10px;
    background-color:#aee710;
    transform: skew(-5deg);
    color: black;
    font-weight: 900;
}

.nav-link-tienda{
    color: black !important;
}



@media screen and (max-width: 812px) {
    .carousel-inner {
        width: 100%;
        height: 500px;
    }

    .slide img {
        width: 100%;
        height: 500px;
        object-position: center 0px;
    }

    .container-search {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }

    .container-search-tienda span {
        margin-bottom: 10px;
        text-align: center;
        align-items: center;
        margin-right: 0;
    }

    .container-search-tienda form select {
        margin: 6px;
        transform: none;
    }

    .container-search-tienda form input {
        margin: 10px 0px;
        color: white;
        background-color: red;
        transform: none;
        margin-left: 0;
    }

    .text-center {
        padding: 10px !important;
    }

    .container {
        margin: 5px;
        flex-direction: column;
    }

    #navbar-text {
        transform: none;
        border-radius: 10px;
        border-bottom: none;
        text-align: center;
    }

    #navbar-text:hover {
        transform: skew(-5deg);
    }

    .nav-link {
        background-color: rgba(0, 0, 0, 0.397);
    }

    .row-navbar {
        display: flex;
        justify-content: center;
    }

    .historia-container .historia {
        display: flex;
        flex-direction: column;
    }

    .historia-container img {

        width: 330px;
        height: 350px;
        object-fit: cover;
        object-position: 0 1px;
    }

    .historia-container p {
        margin-top: 20px;
        width: 350px;
        height: 100%;
    }

    .form-contact{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
    }
    
    .form{
        margin-top: 40px;
        width: 340px;
        text-align: center;
    }

    .text-form h2{
        margin: 15px;
    }

    .nav-item-tienda{
        transform: none;

    }

    .garage-vehicles{
        width: 350px;
    }
}   
