.footer {
    background-color: rgba(250, 246, 246, 0.158);
    text-align: center;
    width: 100%;
    margin-top: auto;
    footer h4 {
        height: 30px;
    }
    .text-center {
        display: flex;
        justify-content: center;
    }
    .btn {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.btn {
    color: black;
    background-color: #aee710;
    font-weight: 500;
    border: 1px solid black;
    &:hover {
        background-color: brown;
        color: #aee710;
        border: 1px solid black;
    }
}

.btn-footer {
    color: black;
    background-color: #aee710;
    font-weight: 600;
    border: 1px solid black;
}
